body {
    margin: 0;
    padding: 0;
    background-color: #050505;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
